# In all environments, the following files are loaded if they exist,
# the later taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

BASE_URL=https://example.com

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=9be3504baeece44d9e738cfd45894a20
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS='^localhost|example\.com$'
###< symfony/framework-bundle ###

FILES_DIR=${APP_FILES_DIR}

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=mysql://root:1111@127.0.0.1:3306/miem
###< doctrine/doctrine-bundle ###

########## KC SETTINGS - for localhost
KC_CLIENT_ID=test-client
KC_CLIENT_SECRET=a36b9072-4f55-4c3f-9500-fd3c82c19cb8

KC_PUBLIC_KEY=%kernel.project_dir%/config/jwt/kc/public.pem

#oauth credentials
#oauth credentials https://localhost:9528
#GOOGLE_CLIENT_ID=861005331877-hc81hd6suate1a9j671v0kus3247tgek.apps.googleusercontent.com
#GOOGLE_CLIENT_SECRET=T794d5HR06AZKGEMw_Z3H5uD

#oauth credentials https://dev2.cabinet.k36.org/
#GOOGLE_CLIENT_ID=861005331877-f9b4il3afc28cdjsc9nbruab07sai014.apps.googleusercontent.com
#GOOGLE_CLIENT_SECRET=2sxh9hXzRXVkaQkXyjF1dh2y

###> google/apiclient ###
#oauth credentials https://localhost:8000
GOOGLE_API_KEY=AIzaSyC6ldej0YmDV9LVL7G3Tm-4-A3DlIckrOo
GOOGLE_CLIENT_ID=861005331877-gugh4coqb9qg1vbamccs2q47on5aopit.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=NE4Gcwwqv3yICIY4fpQ9PQsG

GOOGLE_CREDENTIALS="%kernel.project_dir%/credentials.json"
GOOGLE_TOKEN=%kernel.project_dir%/token.json

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=^https?://localhost(:[0-9]+)?$
###< nelmio/cors-bundle ###

SERVER_LOG="../logs/server.log"

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/testkeys/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/testkeys/public.pem
JWT_PASSPHRASE=1111
###< lexik/jwt-authentication-bundle ###

###> trell-webhook ###
TRELLO_WEBHOOK_API_KEY=secret_key
TRELLO_WEBHOOK_BASE_URI=https://trello-webhook.auditory.ru
TRELLO_WEBHOOK_BOARD=/board
TRELLO_WEBHOOK_BOARD_MEMBER=/board/member
###< trell-webhook ###

###> reCAPTCHA ###
RECAPTCHA_ENABLED=FALSE
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
###< reCAPTCHA ###

###> symfony/google-mailer ###
# Gmail SHOULD NOT be used on production, use it in development only.
MAILER_DSN=gmail+smtp://LOGIN:PASSWORD@default
###< symfony/google-mailer ###

ZULIP_API_KEY=
ZULIP_BASE_URL=https://link.auditory.ru
ZULIP_MESSAGE_LINK=/message_link
ZULIP_MESSAGE_LINK=/message_links
ZULIP_STREAM_LINK=/stream_links

TAIGA_BASE_URI=https://track.miem.hse.ru
TAIGA_LOGIN=login
TAIGA_PASSWORD=password

WEKAN_BASE_URI=http://192.168.133.35:5000
WEKAN_ACCESS_TOKEN=sometoken

CHAT_BASE_URI=https://chat.miem.hse.ru
CHAT_LOGIN=email
CHAT_PASSWORD=api_key
